<div id="wiki-wrapper" class="history">
<div id="head">
  <h1><strong>{{title}}</strong></h1>
  <ul class="actions">
    <li class="minibutton"><a href="{{base_url}}"
       class="action-view-page">Home</a></li>
  </ul>
</div>
<div id="footer">

</div>
</div>
